{% extends 'store/base.html' %}
{%load static%}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form action="" id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input class="form-control" type="text" name="name" placeholder="Name..">
                    </div>

                    <div class="form-field">
                        <input class="form-control" type="email" name="email" placeholder="Email..">
                    </div> 
                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>

                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>

                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="County..">
                    </div>

                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip Code..">
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-warning btn-block" type="submit" value="Continue">
            </form>
            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'store:cart' %}">&#x2190;Back to Cart</a>
            <hr>

            <div class="table-responsive text-nowrap">
            <h3>Order Summary</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">{{forloop.counter}}</th>
                            <th scope="col">Item</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total-Item-Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order_item in object.items.all %}
                        <tr>
                            <th scope="row">1</th>
                            <td>{{order_item.item.title}}</td>
                            <td>{{order_item.item.price}}</td>
                            <td>{{order_item.quantity}}</td>
                            <td>
                                {% if order_item.item.discount_price %}
                                    Ksh.{{order_item.get_total_discount_price}}
                                    <strong class="badge badge-warning">Saving {{order_item.get_amount_saved}}</strong>
                                {% else %}
                                    Ksh.{{order_item.get_total_item_price}}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock content %}