{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
     <div class="col-lg-6">
       {% comment %} <div class="box-element mb-4" id="form-wrapper">
        
            <form class="state">
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-warning mb-5" type"submit">Checkout</button>
            </form>
        </div>  {% endcomment %}
         
        <div class="box-element" id="form-wrapper">
            <form method="POST" action="" id="form">
                {% comment %} <div id="user-info">
                    <div class="form-field">
                        <input class="form-control" type="text" name="name" placeholder="Name..">
                    </div>

                    <div class="form-field">
                        <input class="form-control" type="email" name="email" placeholder="Email..">
                    </div> 
                </div> {% endcomment %}
                {% csrf_token %}
                <div id="shipping-info">
                    <p class="font-rubik">Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <label for="address" class=" font-rubik font-size-14">Address</label>
                        
                        {% comment %} <input class="form-control" type="text" name="address" placeholder="Address.."> {% endcomment %}
                        {{form.street_address}}
                    </div>

                    <div class="form-field">
                        <label for="appartment_address" id="address-2" class="font-rubik font-size-14">Appartment Address(optional)</label>

                        {% comment %} <input class="form-control" type="text" name="address" placeholder="Address.."> {% endcomment %}
                        {{form.apartment_address}}
                    </div>

                    <div class="form-field">
                        <label for="country" class="font-rubik font-size-14">Country</label>
                        {% comment %} <input class="form-control" type="text" name="country" placeholder="Country.."> {% endcomment %}
                        {{form.country}}
                        <div class="invalid-feedback">
                            Please select a valid country
                        </div>
                    </div>

                    <div class="form-field">
                        <label for="zip" id="zip" class="font-rubik font-size-14">Zip Code</label>
                        {% comment %} <input class="form-control" type="text" name="zipcode" placeholder="Zip Code.."> {% endcomment %}
                        {{form.zip}}
                        {% if empty %}
                        <div class="invalid-feedback">
                            Please select a valid country
                        </div>
                        {% endif %}
                    </div>

                    <div class="form-field form-check d-block pl-4">
                        <input {% if form.same_shipping_address.value %} checked {% endif %} name="same_billing_address" type="checkbox" class="form-check-input">
                        <label class="form-check-label font-rubik font-size-14" for="same_billing_address">Shipping address same as my billing address</label>
                    </div>

                    <div class="form-field form-check pl-4">
                        <input {% if form.save_info.value %}{% endif %} name="save_info" type="checkbox" class="form-check-input">
                        <label class="form-check-label font-rubik font-size-14"  for="save_info">Save this info for next time.</label>
                    </div>

                    <div class="custom-control custom-radio form-field form-check pl-4">
                        {% for value, name in form.fields.payment_option.choices %}
                            <input id="{{name}}" type="radio" name="payment_option" value="{{value}}" class="form-check-input">
                            <label class="form-check-label font-rubik font-size-14 mr-4" for="{{name}}">{{name}}</label>
                        {% endfor %}
                    </div>
    
                </div>
                <hr>
                <input id="form-button" class="btn btn-warning btn-block" type="submit" value="Continue">
            </form>
            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'store:cart' %}">&#x2190;Back to Cart</a>
            <hr>

            <div class="table-responsive text-nowrap">
            <h3>Order Summary</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">{{forloop.counter}}</th>
                            <th scope="col">Item</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total-Item-Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order_item in object.items.all %}
                        <tr>
                            <th scope="row">1</th>
                            <td>{{order_item.item.title}}</td>
                            <td>{{order_item.item.price}}</td>
                            <td>{{order_item.quantity}}</td>
                            <td>
                                {% if order_item.item.discount_price %}
                                    Ksh.{{order_item.get_total_discount_price}}
                                    <strong class="badge badge-warning">Saving {{order_item.get_amount_saved}}</strong>
                                {% else %}
                                    Ksh.{{order_item.get_total_item_price}}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock content %}