{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
    <style media="screen">
        #stripeBtnLabel{
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-size: 16px;
        font-variant: normal;
        padding: 0;
        margin: 0;
        -webkit-font-smoothing: antialiased;
        }

        #stripeBtn {
        border: none;
        border-radius: 4px;
        outline: none;
        text-decoration: none;
        color: #fff;
        background: #32325d;
        white-space: nowrap;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 14px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        border-radius: 4px;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.025em;
        text-decoration: none;
        -webkit-transition: all 150ms ease;
        transition: all 150ms ease;
        float: left;
        margin-left: 12px;
        margin-top: 28px;
        }

        #stripeBtn:hover {
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
        background-color: #43458b;
        }

        #stripe-form {
        padding: 30px;
        height: 120px;
        }

        label {
        font-weight: 500;
        font-size: 14px;
        display: block;
        margin-bottom: 8px;
        }

        #card-errors {
        height: 20px;
        padding: 4px 0;
        color: #fa755a;
        }

        .stripe-form-row {
        width: 70%;
        float: left;
        }

        /**
        * The CSS shown here will not be introduced in the Quickstart guide, but shows
        * how you can use CSS to style your Element's container.
        */
        .StripeElement {
        box-sizing: border-box;

        height: 40px;

        padding: 10px 12px;

        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;

        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
        }

        .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .StripeElement--invalid {
        border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
        }
    </style>
{% endblock extra_head %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <p class="font-rubik text-center font-rubik font-size-20">Payment Information:</p>

        <div class="box-element mb-4">
        
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">


            <script src="https://js.stripe.com/v3/"></script>

            <form action="/charge" method="post" id="stripe-form">
                <div class="stripe-form-row">
                    <label for="card-element" id="stripeBtnLabel">
                        Credit or debit card
                    </label>
                    <div id="card-element" class="StripeElement StripeElement--empty"></div>
                    <div class="__PrivateStripeElement" style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;"></div>

                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>

                <button id="stripeBtn">Submit Payment</button> 
            </form>
            <div id="stripe-token-handler" class="is-hidden">Success! Got token: <span class="token"></span></div>
        </div>
        
    </div>

    <div class="col-lg-12">
        <p class="font-rubik text-center font-rubik font-size-20">Order Summary:</p>

        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'store:cart' %}">&#x2190;Back to Cart</a>
            <hr>

            <div class="table-responsive text-nowrap">
           

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">{{forloop.counter}}</th>
                            <th scope="col">Item</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total-Item-Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order_item in object.items.all %}
                        <tr>
                            <th scope="row">1</th>
                            <td>{{order_item.item.title}}</td>
                            <td>{{order_item.item.price}}</td>
                            <td>{{order_item.quantity}}</td>
                            <td>
                                {% if order_item.item.discount_price %}
                                    Ksh.{{order_item.get_total_discount_price}}
                                    <strong class="badge badge-warning">Saving {{order_item.get_amount_saved}}</strong>
                                {% else %}
                                    Ksh.{{order_item.get_total_item_price}}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" nonce="">  // Create a Stripe client.
  var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');

  // Create an instance of Elements.
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: '#32325d',
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
        color: '#aab7c4'
      }
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    }
  };

  // Create an instance of the card Element.
  var card = elements.create('card', {style: style});

  // Add an instance of the card Element into the `card-element` <div>.
  card.mount('#card-element');

  // Handle real-time validation errors from the card Element.
  card.on('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  // Handle form submission.
  var form = document.getElementById('stripe-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
      }
    });
  });

  // Submit the form with the token ID.
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('stripe-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
  }

</script>
{% endblock content %}