{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    {% for item in object_list %}
    <div class="col-lg-4">
        <a href="{{ item.get_absolute_url }}"><img class="thumbnail" src="{% static 'images/air-jordan.webp' %}" alt="product1"></a>
        
        <div class="box-element product">
            <a href="" class="grey-text d-flex m-0">
            <h5 class="text-center">{{item.get_category_display}}</h5>
            </a>
            <span class="badge badge-pill color-yellow-bg float-right ">{{item.get_label_display}}</span>

            <h6><strong>{{item.title}}</strong></h6>
            <hr>
            
            <!-- <button class="btn btn-outline-secondary add-btn">Add to cart</button> -->
            <a class="btn btn-outline-success" href="{{ item.get_absolute_url }}">View</a>
            <h4 style="float:right;"><strong>Ksh.
                {% if item.discount_price %}
                {{item.discount_price}}
                {% else %}
                {{item.price}}
                {% endif %}
            </strong></h4>
        </div>
    </div>
    {% endfor%}
</div>


{% endblock content %}