{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<h3>items</h3>
{% for item in items %}
    {{item}}
{% endfor%}
<!-- <div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/640.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="float:right;"><strong>Ksh.2000</strong></h4>
        </div>
    </div>
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/640.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="float:right;"><strong>Ksh.2000</strong></h4>
        </div>
    </div>
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/640.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="float:right;"><strong>Ksh.2000</strong></h4>
        </div>
    </div>
</div -->
{% endblock content %}