/*cart template*/ 
#cart-icon{
    background-color:#fff;
    width:35px;
    display:inline-block;
    margin-left:15px;
}

#cart-total{
    display:block;
    text-align:right;
    color:#fff;
    background-color:red;
    width:20px;
    height:25px;
    border-radius:50px;
    font-size:14px;
}

.cart-row{
    display:flexbox;
    align-items:flex-stretch;
    padding-bottom:10px;
    border-bottom:1px solid #ececec;
    min-width: 320px;
    max-width: 1000px;
}

.title , .price{
    font-family: $font-baloo;
    font-size: 16px;

    // @media screen{
    //     font-size: 14px;
    //     padding-right: 85px;
        
    // }
}

.form-field{
    width:250px;
    display:inline-block;
    padding:5px;

    // @media screen {
    //     padding-left: 40px;
    // }
}

// Cart template responsive rules
@media (max-width:767px){
    .cart-row .mobile {
        display: none;

    }

    .cart-row .desktop{
        display: inline-block;
    }
}