/* quantity properties */
.quantity{
    display:inline-block;
    width: 50%;
}

.chg-quantity{
    width:12px;
    cursor:pointer;
    display:block;
    margin-top:5px;
    transition: .1s;
}

.chg-quantity:hover{
    opacity: .6;
}